<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookers</title>
    <link rel="stylesheet" href="homes.scss">
  </head>

  <body>
    <h1>ようこそ<span id="font_bold">Bookers</span>へ</h1>
    <p>Bookersでは、さまざまな書籍に関するあなたの意見や<br>
      <br>
      印象を共有し、交換することができます</p>
      <br>
    <a href=/books>start</a>
  </body>
</html>
