<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookers</title>
    <link rel="stylesheet" href="homes.scss">
  </head>

  <body>
    <main>
      <h1>ようこそ <span>Bookers</span> へ！</h1>
      <div class="text">
      <p><span>Bookers</span>では、さまざまな書籍に関するあなたの意見や</p>
      <br>
      <p>印象を共有し、交換することができます</p>
      <br>
      <a href=/books>start</a>
      </div>
    </main>
  </body>
</html>
